/* Mobile First Design */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

h1 {
  font-size: 35px;
  text-align: center;
}

html {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(purple, red);
  background-attachment: fixed;
}

#bars-icon {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  width: 32px;
}

/* Mobile */
#logo {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav-bar {
  height: 50px;
  background-color: black;
  position: relative;
}

#logo {
  width: 50%;
}

#nav-links {
  transform: translate(0%, 10%);
  list-style: none;
  text-align: center;
  display: none;
}

#nav-links > li {
  background-color: black;
  border-top: 1px solid white;
  padding: 15px;
}

#nav-links > li > a {
  font-size: 25px;
  text-decoration: none;
  display: block;
  color: white;
}

#content {
  padding: 15px;
}

#store-gallery,
#games-gallery {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.gallery {
  width: 50%;
}

div.gallery {
  border: 2px solid white;
}

div.gallery:hover {
  border: 2px solid black;
}

.responsive {
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
}

input[type="submit"] {
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 20px;
}

input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.445);
}

#content {
  text-align: center;
}

.content-body {
  padding: 25px;
}

.gif {
  width: 90%;
  padding-top: 15px;
}
