* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

h1 {
  font-size: 35px;
  text-align: center;
}

html {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(purple, red);
  background-attachment: fixed;
}

#bars-icon {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  width: 32px;
}

#logo {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav-bar {
  height: 50px;
  background-color: black;
  position: relative;
}

#nav-links {
  transform: translate(0%, 10%);
  list-style: none;
  text-align: center;
  display: none;
}

#nav-links > li {
  background-color: black;
  border-top: 1px solid white;
  padding: 15px;
}

#nav-links > li > a {
  font-size: 25px;
  text-decoration: none;
  display: block;
  color: white;
}

#content {
  padding: 15px;
}

.content-body {
  padding: 25px;
}

.gif {
  width: 90%;
  padding-top: 15px;
}

.blog-post,
.news-post {
  margin: 15px;
  padding: 5px;
  border: 2px solid #cc00ff;
}

.post-date,
.read-more-post {
  font-style: italic;
}

.read-more-post {
  color: #e062ff;
  text-decoration: underline;
}

.gallery-item img {
  width: 100%;
}

.gallery-item {
  display: inline-block;
  width: 300px;
  text-align: center;
  border: 2px solid #c000ff;
  margin: 15px;
}

.gallery-item:hover {
  cursor: pointer;
  border: 2px solid white;
  opacity: 85%;
}

.gallery-item-desc {
  background-color: black;
}

#gallery {
  padding-top: 35px;
}

#form-container {
  float: left;
  padding: 25px;
}

#contact-info {
  clear: both;
}

.contact-label {
  text-align: left;
}

textarea {
  color: black;
  width: 250px;
  height: 150px;
  font-size: 15px;
}

input {
  color: black;
  width: 250px;
  height: 30px;
  font-size: 15px;
}

button {
  color: black;
  width: 150px;
  height: 70px;
  margin-top: 12px;
  font-size: 15px;
  border-style: none;
  border-radius: 25px;
}

button:hover {
  cursor: pointer;
  opacity: 85%;
}

#contact-content {
  padding: 25px;
}

#contact-content > h1 {
  text-align: center;
}

.redborder {
  border: 4px solid red;
}
