* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

h1 {
  font-size: 35px;
  color: white;
}

html {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(#6d0088, red);
  background-attachment: fixed;
}

#logo {
  width: 25%;
}

#nav-bar {
  text-align: center;
  padding: 15px;
  padding-bottom: 80px;
}

#bars-icon {
  display: none;
}

#nav-links {
  list-style: none;
  padding-top: 40px;
}

#nav-links > li {
  font-size: 35px;
  display: inline;
}

#nav-links > li:hover {
  background-color: #c000ff;
}

#nav-links > li > a {
  text-decoration: none;
  color: white;
  padding: 10px 40px;
}

#content {
  text-align: center;
}

.gif {
  padding-top: 15px;
}

.blog-post,
.news-post {
  margin: 15px;
  padding: 5px;
  border: 2px solid #c000ff;
}

.blog-post:hover,
.news-post:hover {
  cursor: pointer;
  background-color: black;
}

.post-date,
.read-more-post {
  font-style: italic;
}

.read-more-post {
  color: #e062ff;
  text-decoration: underline;
}

.gallery-item img {
  width: 100%;
}

.gallery-item {
  display: inline-block;
  width: 300px;
  text-align: center;
  border: 2px solid #c000ff;
  margin: 15px;
}

.gallery-item:hover {
  cursor: pointer;
  border: 2px solid white;
  opacity: 65%;
}

.gallery-item-desc {
  background-color: black;
}

#gallery {
  padding-top: 35px;
}

#form-container {
  float: left;
  padding: 25px;
}

#contact-info {
  clear: both;
}

.contact-label {
  text-align: left;
}

input,
textarea {
  color: black;
  width: 400px;
  height: 50px;
  font-size: 25px;
}
button {
  color: black;
  width: 150px;
  height: 70px;
  margin-top: 12px;
  font-size: 15px;
  border-style: none;
  border-radius: 25px;
}

button:hover {
  cursor: pointer;
  opacity: 85%;
}

#contact-content {
  padding: 25px;
}

#contact-content > h1 {
  text-align: center;
}
