* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

h1 {
  font-size: 35px;
  color: white;
}

html {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(purple, red);
  background-attachment: fixed;
}
#nav-bar {
  background-color: black;
  text-align: center;
  padding: 15px;
}

#bars-icon {
  display: none;
}

#nav-links {
  list-style: none;
  padding-top: 40px;
}

#nav-links > li {
  font-size: 35px;
  display: inline;
}

#nav-links > li:hover {
  background-color: #c000ff;
}

#nav-links > li > a {
  text-decoration: none;
  color: white;
  padding: 10px 40px;
}

#store-gallery,
#games-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

div.gallery img {
  /* width: 100%; */
  height: auto;
}

div.gallery {
  border: 2px solid white;
}

div.gallery:hover {
  border: 2px solid black;
}

.responsive {
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

#contact-form {
  margin: 25px;
  padding: 25px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
}

input[type="submit"] {
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 20px;
}

input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.445);
}

#content {
  padding: 15px;
}

.content-body {
  padding: 25px;
  text-align: center;
}

.gif {
  padding-top: 15px;
}

.blog-post {
  margin: 15px;
  padding: 5px;
  border: 1px solid white;
}
