* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

h1 {
  font-size: 35px;
  color: white;
}

html {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(#6d0088, red);
  background-attachment: fixed;
}
#nav-bar {
  /* background-color: black; */
  text-align: center;
  padding: 15px;
}

#bars-icon {
  display: none;
}

#nav-links {
  list-style: none;
  padding-top: 40px;
}

#nav-links > li {
  font-size: 35px;
  display: inline;
}

#nav-links > li:hover {
  background-color: #c000ff;
  border-radius: 15px;
}

#nav-links > li > a {
  text-decoration: none;
  color: white;
  padding: 10px 40px;
}

#store-gallery,
#games-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

div.gallery img {
  /* width: 100%; */
  height: auto;
}

div.gallery {
  border: 2px solid white;
}

div.gallery:hover {
  border: 2px solid black;
}

.responsive {
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

#content {
  padding: 15px;
}

.content-body {
  padding: 25px;
  /* text-align: center; */
}

.gif {
  padding-top: 15px;
}

h1 {
  text-decoration: underline;
}

.blog-post,
.news-post {
  margin: 15px;
  padding: 5px;
  border: 2px solid #c000ff;
}

.blog-post:hover,
.news-post:hover {
  cursor: pointer;
  background-color: black;
}

.post-date,
.read-more-post {
  font-style: italic;
}

.read-more-post:hover {
  color: blue;
}
