/* Mobile First Design */
/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(purple, red);
}

#bars-icon {
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  width: 32px;
}

#nav-bar {
  height: 50px;
  background-color: black;
  position: relative;
}

#nav-links {
  /* background-color: black; */
  transform: translate(0%, 10%);
  list-style: none;
  text-align: center;
  /* Initially hidden */
  display: none;
}

#nav-links > li {
  background-color: black;
  border-top: 1px solid white;
  padding: 15px;
}

#nav-links > li > a {
  font-size: 25px;
  text-decoration: none;
  display: block;
  color: white;
}

/* Desktop Style */
@media only screen and (min-width: 499px) {
  #home-page {
    height: 200px;
    width: 500px;
  }

  #nav-bar {
    display: none;
  }
}
